.move-1{
    transform: translateX(5%);
    transition: all 0.5s ease-in-out;
    //responsive
    @media (max-width: 767px) {
        transform: translateX(0);
    }

    @media (min-width: 768px) and (max-width: 991px) {
        transform: translateX(10%);
    }
}
.move-2{
    transform: translateX(-15%);
    transition: all 0.5s ease-in-out;
    //responsive
    @media (max-width: 767px) {
        transform: translateX(0);
    }
    @media (min-width: 768px) and (max-width: 991px) {
        transform: translateX(10%);
    }
}
.move-3{
    transform: translateX(5%);
    transition: all 0.5s ease-in-out;
    //responsive
    @media (max-width: 767px) {
        transform: translateX(0);
    }
    @media (min-width: 768px) and (max-width: 991px) {
        transform: translateX(10%);
    }
}
 
.contenedor-seccion{
    //agrandar el tamaño del contenedor
    width: 100%;
    height: 100%;
    //agrandar el tamaño del contenedor
    padding: 0;
    margin: 0;
    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}